body {
  font-family: 'Rubik', sans-serif;
  background-color: #262728;
}

#header {
  text-align: center;
  color: #F2B122;
  font-weight: 500;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

a {
  font-family: 'Rubik', sans-serif;
  font-size: 15pt;
  color: #F2B122;
}

#NSFW {
  width: 100%;
  background-color: #FF0000;
  border: none;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  border-radius: 15px;
  color: #000000;
}

#IG {
  color: #FFFFFF;
  width: 100%;
  border: none;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  border-radius: 15px;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#TT {
  width: 100%;
  background-color:#00f2ea;
  color: #000000;
  border: none;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  border-radius: 15px;
}

#SC {
  width: 100%;
  background-color: #FFFC00;
  border: none;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  border-radius: 15px;
  color: #000000;
}

.div {
  padding-top: 20px;
  padding-bottom: 20px;
}